*.tmp
*.env
.vscode
node_modules
docs
commands/normal/*
commands/mod/*
special/*

!special/cleverbot.js
!special/games.json
!commands/normal/about.js
!commands/normal/choose.js
!commands/normal/invite.js
!commands/normal/ping.js
!commands/mod/echo.js
!commands/mod/settings.js
!commands/mod/stats.js
